<div class="curr">
    <div class="select_inp">
        <select name="select_inp" id="select_inp">
            <option>Input Currency</option>
        </select>
    </div>
    <div class="select_out">
        <select name="select_out" id="select_out">
            <option>Output Currency</option>
        </select>
    </div>
</div>
<div class="out">
    <div class="currency">
        <input type="text" id="inp_currency" placeholder="Enter Amount to convert">
        <input type="text" disabled id="output">
    </div>
    <button #convert>Convert</button>
</div>