<!-- Material is used for styling -->
<div class="curr">
    <div class="select_inp">
        <label for="select_inp">From:</label>
        <!-- using ngModel for two way binding -->
        <select name="select_inp" id="select_inp" [(ngModel)]="fromCountry">
            <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
        </select>
    </div>
    <div class="select_out">
        <label for="select_inp">To:</label>
        <!-- using ngModel for two way binding -->
        <select name="select_out" id="select_out" [(ngModel)]="toCountry">
            <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
        </select>
    </div>
</div>
<div class="out">
    <div class="currency">
        <input type="text" id="inp_currency" [(ngModel)]="amount" placeholder="Enter Amount to convert" >
        <input type="text" disabled id="output" [(ngModel)]="output">
    </div>
    <!-- Calling convert() function when the button is clicked -->
    <button  (click)="convert()">Convert</button>
</div>