/* Flexbox containing two select box for fromCurrency and toCurrency */
.curr{
    display: flex;
    justify-content: space-evenly;
}
/* Flexbox containing 1 flexboxe for input amount and show the result also contains button called convert */
.out{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* This is inner flexbox for input amount and displaying result */
.currency{
    display: flex;
    justify-content: space-evenly;

}
/* Designing select and input boxes */
select,input{
    background-color: transparent;
    width: 100%;
    margin: 8px;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 700;
}
/* Designing the convert button */
button{
    margin: 8px;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;

}
/* Making the curser not allowed in the output box where the result will be shown */
#output{
    cursor:not-allowed;
}
/* Making the select divs flex so we can assign lable and align it in the same line */
.select_inp, .select_out{
    display: flex;
    justify-content: center;
}
/* Styling labels of select */
.select_inp label, .select_out label{
    margin-top: 16px;
    font-weight: 500;
    font-size: x-large;
}