/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    /* giving background colour as linear gradient */
    background-image: linear-gradient(to bottom right, skyblue, rgb(40, 235, 131));
    /* making body a flexbox so we can arrange the component to center */
    display: flex; justify-content: center; align-items: center; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

}
app-root{
    /* Applying shadow property to app-root container */
    box-shadow: 3px 5px 8px rgba(72, 60, 60, 3);
}